html
  head
    title=title
    script(type="text/javascript", src="vis3d/three.js")
    script(type="text/javascript", src="vis3d/OrbitControls.js")
    //script(type='module', src="vis3d/ring.3d.ex3.js")
    script(type='module', src="vis3d/ring.3d.js")
  body
    canvas#c
